.app-window-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-window {
    /*Grid*/
    display: grid;
    grid-template-columns: 25px minmax(70px,1fr) 6fr 1fr 25px;
    grid-template-rows: 35px 1fr 25px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /*sizing*/
    width: 70%;
    height: 70vh;

    /*colors*/
    background-color: #383838;
}

.editor-window {
    grid-area: 2 / 2 / 3 / 5;
    background-color: #252525;
    padding: 15px 5px 5px;
}

.tab {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
    height: 25px;
    background-color: #252525;
}