.app-window-wrapper {
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 60%;
    font-size: 1rem;

}

.app-window {
    /*Grid*/
    display: grid;
    grid-template-columns: 1.5rem minmax(4.4rem,1fr) 6fr 1fr 1.5rem;
    grid-template-rows: 2.19rem 1fr 1.5rem;
    grid-column-gap: 0;
    grid-row-gap: 0;

    /*sizing*/
    flex-basis: 95%;
    height: 90vh;

    /*colors*/
    background-color: #383838;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.editor-window {
    grid-area: 2 / 2 / 3 / 5;
    background-color: #252525;
    padding: 0.8rem .33rem .33rem;
    overflow: hidden;
}

.tab {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
    height: 1.5rem;
    background-color: #252525;
}