.line {
    display: flex;
    padding: .31em;
    height: 1em;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75em;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: white;

}

.line.active {
    background-color: #2F2F2F;
}

.code-line {
    text-align: end;
    display: block;
    background: transparent;
    flex-shrink: 1;
}

.line-declaration {
    width: .9em;
    height: .9em;
    background-color: #A2A2A2;
    flex-shrink: 0;
}

.line-gutter {
    flex-shrink: 0;
    min-width: .6em;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid aliceblue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
    animation:
            typing 2.0s steps(25, end),
            blink-caret .75s step-end infinite;
}

.remove-animation {
    animation: none !important;
}

/* The typing effect */
@keyframes typing {
    from { width: 0% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: aliceblue; }
}
