.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 .44rem;
    gap: .6rem;

}

.file-icon {
    background-color: yellow;
    width: .6rem;
    height: .6rem;
}

.file-name {
    background-color: #A2A2A2;
    height: .6rem;
    flex-basis: 2.19rem;
    flex-grow: 1;
}